<!DOCTYPE html>

<html class="{{session.get('theme') === 'dark' ? 'dark' : ''}}">

<head>
    <title>MoviePlay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    @vite(['resources/js/app.js'])
    @if($slots.header)
    {{{await $slots.header()}}}
    @endif
</head>

<body class="h-screen dark:bg-black dark:text-white p-0 m-0 flex flex-col ">
    <header>
        <div class="flex justify-between items-center h-8 px-6">
            <a href="{{auth.isAuthenticated ? '/app' : '/'}}">Movieplay</a>
            <div>
                <a href="{{route('app')}}">playlists</a>
                @if(auth.isAuthenticated)
                <a href="{{route('logout')}}">{{t('auth.logout')}}</a>
                @end
            </div>
        </div>
    </header>
    <main class="flex-1 {{container ? 'container mx-auto' : ''}}">
        @if(flashMessages.has('notification'))
        <div>
            @alert({type: flashMessages.get('notification').type, message: flashMessages.get('notification').message})
            @end
        </div>
        @end
        {{{await $slots.main()}}}
    </main>
    <footer class="mt-4">
        &copy; 2024 MoviePlay
        <form action="/theme/{{session.get('theme') && session.get('theme') === 'light' ? 'dark' : 'light'}}">
            <button type="submit">Toggle Theme</button>
        </form>
        @if($slots.footer)
        {{{await $slots.footer()}}}
        @endif
    </footer>
</body>

</html>