<html class="{{session.get('theme') === 'dark' ? 'dark' : ''}}">

<head>
    <title>MoviePlay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @vite(['resources/js/app.js'])
    @if($slots.header)
    {{{await $slots.header()}}}
    @endif
</head>

<body class="h-screen dark:bg-black dark:text-white p-0 m-0 flex flex-col ">
    <header>
        <div class="flex justify-between items-center">

            <a href="{{auth.isAuthenticated ? '/app' : '/'}}">Movieplay</a>
        </div>
    </header>
    <main class="flex-1">
        {{{await $slots.main()}}}
    </main>
    <footer class="mt-4">
        &copy; 2024 MoviePlay
        <form action="/theme/{{session.get('theme') && session.get('theme') === 'light' ? 'dark' : 'light'}}">
            <button type="submit">Toggle Theme</button>
        </form>
        @if($slots.footer)
        {{{await $slots.footer()}}}
        @endif
    </footer>
</body>

</html>