<!DOCTYPE html>

<html>

<head>
    <title>MoviePlay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    @vite(['resources/js/app.js'])
    @if($slots.header)
    {{{await $slots.header()}}}
    @endif
</head>

<body class="h-screen text-white p-0 m-0 flex flex-col bg-dark font-secondary">
    <header>
        <div class="flex justify-between items-center h-16 px-6">
            <a up-follow href="{{auth.isAuthenticated ? '/app' : '/'}}">
              <img src="{{asset('resources/img/logo-mini-dark.svg')}}" class="h-16 w-16 p-2" />
            </a>
            <div>
                <a up-follow href="{{route('app')}}">playlists</a>
                @if(auth.isAuthenticated)
                <a up-follow="main, header" href="{{route('logout')}}">{{t('auth.logout')}}</a>
                @end
            </div>
        </div>
    </header>
    <main class="flex-1 {{container ? 'container mx-auto' : ''}}">
        @if(flashMessages.has('notification'))
        <div>
            @alert({type: flashMessages.get('notification').type, message: flashMessages.get('notification').message})
            @end
        </div>
        @end
        {{{await $slots.main()}}}
    </main>
    <footer class="mt-4">
        &copy; 2024 MoviePlay
        @if($slots.footer)
        {{{await $slots.footer()}}}
        @endif
    </footer>
</body>

</html>
