<div class="relative flex flex-col @container lg:flex-row">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="" />
    <div class="hidden @lg:flex flex-col">
        <h2 class="font-bold text-2xl">{{movie.title}}</h2>
        <p>{{movie.overview}}</p>
    </div>
</div>