@layout()
<form method="post" action="{{route('app_playlists.update', {id: playlist.id})}}?_method=PUT">
    {{ csrfField() }}
    <input name="name" value="{{playlist.name}}">
    <input name="description" value="{{playlist.description}}">
    <input name="isPublic" type="checkbox" value="{{playlist.isPublic}}">
    <button type="submit">Save</button>
</form>

@end