@layout()
<h1>{{playlist.name}}</h1>
<p>{{playlist.description}}</p>

@if (!movies)
no movies found.
@endif

@if(auth.isAuthenticated && playlist.userId === auth.user.id)
<a href="{{route('app_playlists.add_movie', {playlistId:playlist.id})}}">Add More</a>
@endif

@each(movie in movies)
<p>{{movie.title}}</p>
@end

@end