@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply border-primary border shadow-md transition px-4 py-2 rounded-lg mt-2 hover:border-secondary/30 hover:shadow-secondary/30;
  }
}

@font-face {
  font-family: "YellowTail";
  src: url("/public/yellowtail.ttf");
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("/public/spacegrotesk.ttf");
}
