@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply border-primary/30 border shadow-md transition-all rounded-lg mt-2 hover:border-secondary/30 hover:shadow-secondary/30;
  }
  .btn-padding {
    @apply px-4 py-2;
  }
}

@font-face {
  font-family: "YellowTail";
  src: url("/public/yellowtail.ttf");
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("/public/spacegrotesk.ttf");
}
